<ion-view title="Adicionar  Ocorrencia" id="page19" style="background-color:#000000;">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-android-close"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/gWXcOZxzTka2GNtyr9Km_highway-1767106_1920.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <ion-list id="adicionarOcorrencia-list15">
      <label class="item item-input" id="adicionarOcorrencia-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar Ocorrencia">
      </label>
      <ion-radio id="adicionarOcorrencia-radio29">Depósito Central</ion-radio>
      <ion-radio id="adicionarOcorrencia-radio30">CD I</ion-radio>
      <ion-radio id="adicionarOcorrencia-radio31">CD II</ion-radio>
      <ion-radio id="adicionarOcorrencia-radio32">CD III</ion-radio>
      <ion-radio id="adicionarOcorrencia-radio33">CD IV</ion-radio>
      <ion-radio id="adicionarOcorrencia-radio34">CD V</ion-radio>
    </ion-list>
    <button id="adicionarOcorrencia-button20" style="color:#FFFFFF;font-size:14px;" class="button button-assertive button-block">SELECIONAR</button>
  </ion-content>
</ion-view>