<ion-view title="Boas-vindas" hide-nav-bar="true" id="page1" class="principal">
  <ion-content padding="true" class="manual-remove-top-padding" scroll="false">
    <div class="conteudo">

    	<div id="boasVindas-heading1" class="bv-logo">
    		<i class="ion-checkmark-circled bv-icon"></i>
    		<h3 class="bv-texto">App Diário de Bordo</h3>
    	</div>
    	<a ui-sref="login()" id="boasVindas-button1" class="button button-assertive button-block btn-one">COMEÇAR</a>
    </div>
  </ion-content>
</ion-view>