<ion-view title="Jornadas" id="page14" style="background-color:#000000;">
  <ion-content padding="true" style="background: url(img/gWXcOZxzTka2GNtyr9Km_highway-1767106_1920.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <ion-list id="jornadas3-list10">
      <ion-item class="item-icon-left" id="jornadas3-list-item31">
        <i class="icon ion-ios-list-outline"></i>1 - Jornada - 21-06
        <span class="item-note">Fechada</span>
      </ion-item>
      <ion-item class="item-icon-left" id="jornadas3-list-item32">
        <i class="icon ion-ios-list-outline"></i>2 - Jornada - 22-06
        <span class="item-note">Fechada</span>
      </ion-item>
      <ion-item class="item-icon-left" id="jornadas3-list-item33">
        <i class="icon ion-ios-list-outline"></i>3 - Jornada - 23-06
        <span class="item-note">Fechada</span>
      </ion-item>
    </ion-list>
    <button id="jornadas3-button11" style="color:#FFFFFF;font-size:14px;" class="button button-assertive button-block">NOVA JORNADA</button>
    <button id="jornadas3-button12" style="color:#FFFFFF;font-size:14px;" class="button button-assertive button-block">FINALIZAR DIÁRIO</button>
  </ion-content>
</ion-view>