<ion-view title="Login" hide-nav-bar="true" id="page4" class="principal">
  <ion-content padding="true" class="manual-remove-top-padding" scroll="false">
    <div class="conteudo lg-conteudo">
      <form id="login-form2" class="list lg-form">
        <div class="text-center">
          <i class="ion-checkmark-circled lg-icon"></i>  
        </div>
        <br>
        <ion-list id="login-list4">
          <label class="item item-input item-floating-label lg-input" id="login-input3">
            <span class="input-label">Usuário</span>
            <input type="text" placeholder="Informe seu usuário">
          </label>
          <label class="item item-input item-floating-label lg-input" id="login-input4">
            <span class="input-label">Senha</span>
            <input type="password" placeholder="Informe sua senha">
          </label>
        </ion-list>
      </form>
    </div>
    <a ui-sref="menu.diRioDeBordo()" id="login-button3" class="button button-assertive button-block btn-one btn-lg">LOGIN</a>
  </ion-content>
</ion-view>