<ion-view title="Novo Diário de Bordo" id="page7" style="background-color:#000000;">
  <ion-content padding="true" style="background: url(img/gWXcOZxzTka2GNtyr9Km_highway-1767106_1920.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <h3 id="novoDiRioDeBordo-heading9" style="color:#FFFFFF;font-weight:300;text-align:center;">Novo Diário de Bordo</h3>
    <ion-list id="novoDiRioDeBordo-list2">
      <ion-item class="item-icon-right assertive" id="novoDiRioDeBordo-list-item9">AUTOMÓVEL
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="novoDiRioDeBordo-list-item10">TRAJETO INÍCIO
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
      <ion-item class="item-icon-right assertive" id="novoDiRioDeBordo-list-item11">TRAJETO FIM
        <i class="icon ion-android-add-circle"></i>
      </ion-item>
    </ion-list>
    <button id="novoDiRioDeBordo-button13" style="color:#FFFFFF;font-size:14px;" class="button button-assertive button-block">CRIAR</button>
  </ion-content>
</ion-view>