<ion-view title="Registro de Jornada" id="page18" style="background-color:#000000;">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/gWXcOZxzTka2GNtyr9Km_highway-1767106_1920.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <ion-list id="registroDeJornada2-list13">
      <ion-item class="item-icon-left" id="registroDeJornada2-list-item34">
        <i class="icon ion-ios-play"></i>08:04 - Direção</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="registroDeJornada2-list-item37">
        <i class="icon ion-ios-pause"></i>11:04 - Refeição
        <i class="icon ion-alert-circled"></i>
      </ion-item>
    </ion-list>
    <div id="registroDeJornada2-container3" class="text-center">
      <h5 id="registroDeJornada2-heading11" style="color:#000000;font-weight:600;text-align:center;">Retornar Direção</h5>
      <button id="registroDeJornada2-button19" style="border-radius:5px 5px 5px 5px;" class="button button-assertive icon ion-arrow-return-left"></button>
    </div>
  </ion-content>
</ion-view>