<ion-view title="Registro de Jornada" id="page17" style="background-color:#000000;">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/gWXcOZxzTka2GNtyr9Km_highway-1767106_1920.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div id="registroDeJornada-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:17px;">PARA INICIAR A JORNADA CLIQUE NO BOTÃO ABAIXO!</p>
    </div>
    <div id="registroDeJornada-container2" class="text-center">
      <h5 id="registroDeJornada-heading10" style="color:#000000;font-weight:600;text-align:center;">Nova Ocorrência</h5>
      <button id="registroDeJornada-button18" style="border-radius:5px 5px 5px 5px;" class="button button-assertive icon ion-android-add"></button>
    </div>
  </ion-content>
</ion-view>