 <ion-modal-view class="secundario">
   <ion-content>
   <div class="conteudo nbd-conteudo">
    <ion-list>
      <a ng-click="closeOcorrencias()">
        <label class="item item-icon-right db-item">
          <i class="icon ion-close-round"></i>
          Selecionar Ocorrencias
        </label>
      </a>
      <label class="item-input db-item db-search">
          <input type="search"
             placeholder="Buscar Ocorrências..."
             ng-model="search"
             ng-focus="searchFocused = true"
             ng-blur="searchFocused = false"
             ng-change="scrollTop()"
             class="full-width"
             style="width: 90%">
      <button ng-if="search.length"
              class="button button-icon ion-android-close input-button"
              ng-click="clearSearch()"
              style="color: #fff;">
      </button>
        </label>
    </ion-list>
    <br>
    <div class="list nbd-lista">
      <a ng-click="Selecionar()">
        <label class="item item-icon-right db-item" ng-repeat="a in item" ng-click="insereOcorrenciaLocal({{a}})">
          <i class="icon ion-plus-circled"></i>
            {{a.ds_ocorrencia}}
        </label>
      </a>
    </div>
  </div>
  </ion-content>
 </ion-modal-view>
